:root {
    /* Updated color scheme for Web Rodent */
    --primary-color: #005D99; /* A brighter, more engaging blue */
    --secondary-color: #005D99; /* A deep, sophisticated navy blue */
    --accent-color: #001D31; /* A lively, inviting yellow for accents */
    --text-color: #A6CAE7; /* A light, readable text color */
    --background-color: #201f1f; /* A clean, modern light background */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

header {
    background: var(--secondary-color);
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--accent-color);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full height */
    background: url('path-to-hero-image.jpg') center/cover no-repeat;
    text-align: center;
    color: var(--text-color);
}

footer {
    background: var(--primary-color);
    text-align: center;
    padding: 2rem 0;
}

.cta-button {
    background: var(--accent-color);
    border: none;
    padding: 0.75rem 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background: var(--text-color);
    color: var(--primary-color);
}

a {
    color: #334D66; /* Lighter blue for links */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover, a:focus {
    color: var(--accent-color); /* Style for hover and focus states */
}

a:visited {
    color: #001D31; /* Original blue for visited (clicked) links */
}

.hero-content img {
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust as necessary */
    border-radius: 15px; /* Rounds the corners of the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for a softer edge */
}

.team-story img {
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust as necessary */
    border-radius: 15px; /* Rounds the corners of the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for a softer edge */
}


/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        margin: 5px 0;
    }
}
